nav {
  position: fixed;
  top: 0;
  right: 0;
  background-blend-mode: overlay;  
  padding: 10px 20px;
  gap: 50px;
}

.unselected {
  color: grey
}

.selected {
    
    font-weight: bold;
}

a {
    text-decoration: none;
    color: inherit;
}

#navigation {
  width: 1000px;
  font-size: large;
}


.banner {
  width: 100vw;   /* 100% of the viewport width */
  height: 40vh;  /* 20% of the viewport height */
  object-fit: cover; /* This prevents the image from looking stretched */
  display: block;    /* Removes extra white space at the bottom */
}



/* -------------------- GENERAL -------------------- */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color:rgb(240,240,240);
}

/* -------------------- TOP IMAGE -------------------- */
.top {
    text-align: center; 
    margin-top: 50px;
}

.top img {
    width: 70%;
    height: auto; 
}

/* -------------------- TEAM MEMBERS -------------------- */
.members {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap; 
    margin-top: 40px;
}

.box {
    width: 200px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid gray; 
    text-align: center;
    margin: 10px; 
}

.box img {
    width: 100%;
    height: 200px;
    object-fit: cover; 
}

.box p {
    margin: 5px 0;
    font-size: 14px;
}
