nav {
  position: fixed;
  top: 0;
  right: 0;
  background-color: antiquewhite;
  padding: 10px 20px;
}


.selected {
    
    font-weight: bold;
}

a {
    text-decoration: none;
    color: inherit;
}