nav {
  position: fixed;
  top: 0;
  right: 0;
  background-blend-mode: overlay;  
  padding: 10px 20px;
  gap: 50px;
}

.unselected {
  color: grey
}

.selected {
    
    font-weight: bold;
}

a {
    text-decoration: none;
    color: inherit;
}

#navigation {
  width: 1000px;
}

body {
  background-color: white;
}
.banner {
  width: 100vw;   /* 100% of the viewport width */
  height: 40vh;  /* 20% of the viewport height */
  object-fit: cover; /* This prevents the image from looking stretched */
  display: block;    /* Removes extra white space at the bottom */
}

.products {
  width: 100%;       /* Takes up the full width of its parent */
  overflow-x: auto;
}

.products img {
  height: 200px;
  width: 320px;
}

.products table{
   border-collapse: separate; /* must be separate for spacing to work */
   border-spacing: 20px 0;
}

table {
  width: 100%;       /* Optional: ensures table fills the container */
  border-collapse: collapse;
}