nav {
  position: fixed;
  top: 0;
  right: 0;
  background-color: antiquewhite;
  padding: 10px 20px;
  gap: 50px;
}

.unselected {
  color: grey
}

.selected {
    
    font-weight: bold;
}

a {
    text-decoration: none;
    color: inherit;
}

#navigation {
  width: 1000px;
}

body {
  background-color: antiquewhite;
}